<div class=blockforlogin>
	<label id="logintext">Введите имя пользователя</label>
	<input id="login" />
	<label id="passwordtext">Введите пароль</label>
	<input id="password" />
	<button id="entry">Войти</button>
</div>
