<div class="contaner1">



    <div class="headbackrgound">

        <div class="contanerrightsidehead">
            <div class="icons1">
                <a class="vkicon" href="https://vk.com/pricheson_kzn" target="_blank"><img width="50" height="50" src="img/vk-svgrepo-com.svg"></a>
                <a class="tgicon" href="https://t.me/AleksandraFazz" target="_blank"><img width="50" height="50" src="img/telegram-svgrepo-com.svg"></a>
                <a class="waicon" href="https://api.whatsapp.com/send/?phone=79050225025&text&type=phone_number&app_absent=0" target="_blank"><img width="50" height="50" src="img/whatsapp-svgrepo-com.svg"></a>
            </div>
            <button class="zapisatsa" onclick="zapisiopen()">
                <h2 class="zapisatsatext">ЗАПИСАТЬСЯ</h2>
            </button>
        </div>



    </div>


</div>
<div class="container3">
    <a></a>
    <h1 class="about">НАШИ УСЛУГИ</h1>
    <div class="podcontainer3">
        <div class="aboutblock" id="block1" >

            <h2 class="whatsdo">      Точные стрижки      </h2>
            <img class="cuticon" src="img/icons/HAIR-2048x2048.png">
        </div>
        <div class="aboutblock" id="block2">
            <h2 class="whatsdo">Химическая завивка</h2>
            <img class="cuticon" src="img/icons/free-icon-hairdresser-3465230.png">
            
        </div>
        <div class="aboutblock"id="block3">
            <h2 class="whatsdo">Модные окрашивания</h2>
            <img class="cuticon" src="img/icons/free-icon-hair-color-7979076.png">
            
        </div>
        <div class="aboutblock"id="block4">
           <h2 class="whatsdo">
                Укладки<span></span><span> </span>

            </h2>
            <img class="cuticon" src="img/icons/free-icon-hair-iron-6541583.png">
           
        </div>
        <div class="aboutblock"id="block5">
            <h2 class="whatsdo">Маникюр и Педикюр</h2>
            <img class="cuticon" src="img/icons/free-icon-gloves-8033265.png">
            

        </div>


    </div>

</div>
<div class="container2">




    <h3 class="whatsdosmt">НАШИ РАБОТЫ</h3>
    <div id="carousel">
        <div id="drag-container">
            <div id="spin-container">
                <a href="https://avatars.mds.yandex.net/get-altay/2442526/2a0000017588f0c9d6689661416e44252381/XXXL" target="_blank"><img src="img/1sl.webp" alt="" /></a>
                <a href="https://avatars.mds.yandex.net/get-altay/3843924/2a0000017588fd5fe237fa785b62bedd168f/XXXL" target="_blank"><img src="img/2sl.webp" alt="" /></a>
                <a href="https://avatars.mds.yandex.net/get-altay/4200646/2a0000017588ef266f4ac820401fbe9256d0/XXXL" target="_blank"><img src="img/3sl.webp" alt="" /></a>
                <a href="https://avatars.mds.yandex.net/get-altay/2368846/2a0000017588ec16260b5a6b2672e4d39a9c/XXXL" target="_blank"><img src="img/4sl.webp" alt="" /></a>
                <a href="https://avatars.mds.yandex.net/get-altay/1870294/2a000001726b595f534b0df8b101f33fa6d5/XXXL" target="_blank"><img src="img/5sl.webp" alt="" /></a>
                <a href="https://avatars.mds.yandex.net/get-altay/1938975/2a00000170a958e7f3ffe4d9184ef6e8eb28/XXXL" target="_blank"><img src="img/6sl.webp" alt="" /></a>
                <a href="https://avatars.mds.yandex.net/get-altay/5298780/2a00000180adcf3c0a2cba7e9c86c9bc6a38/XXXL" target="_blank"><img src="img/7sl.webp" alt="" /></a>
                <a href="https://avatars.mds.yandex.net/get-altay/5110793/2a00000180adcf3f18675fa31063c374c253/XXXL" target="_blank"><img src="img/8sl.webp" alt="" /></a>
            </div>

        </div>
    </div>
    <div id="ground"></div>


   
    <div class="slider">
        <img class="img" src="img/1sl.webp" />
        <img class="img" src="img/2sl.webp" />
        <img class="img" src="img/3sl.webp" />
        <img class="img" src="img/4sl.webp" />
        <img class="img" src="img/5sl.webp" />
        <img class="img" src="img/6sl.webp" />
        <img class="img" src="img/7sl.webp" />
        <img class="img" src="img/8sl.webp" />
    </div>

</div>
<div class="containerforaboutus">
    <div class="leftsideaboutus">
        <label class="headtextaboutus">Наша студия</label>
        <label class="textaboutus">
            Очень уютная студия и вежливый персонал. <p>Прежде чем начать окрашивание, мастер консультирует клиента.</p>Вы обязательно уйдете красивые и с хорошим настроением и обязательно к нам вернетесь.</p> 
        </label>
    </div>
    <div class="rightsideaboutus">

    </div>
</div>
<div class="container4">
    <div class="containerforprice">
        <label class="headforprice">Услуги и цены</label>
        <div class="haircut" id="haircut1">
            <label class="headforprice">Стрижки</label>
            <div class=centercontainerofprice>
                <div class="leftsideprice">
                    <label class="textinsideprice">Стрижка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Стрижка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Стрижка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Стрижка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Стрижка мужская----350 р</label>
                </div>
                
                
                <div class="rightsideprice">
                    <label class="textinsideprice">Стрижка женская----350 р</label>
                </div>
            </div>
          
            
            <button class="fullcontainer" id="openfullcontainer">Полный Прайс</button>
        </div>
        
        <div class="haircut"id="haircut2">
            <label class="headforprice">Завивки</label>
            <div class=centercontainerofprice>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                
                
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
            </div>
        </div> 
        <div class="haircut"id="haircut3">
            <label class="headforprice">Окрашивание</label>
            <div class=centercontainerofprice>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                
                
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
            </div>
        </div> 
        <div class="haircut"id="haircut4">
            <label class="headforprice">Укладки</label>
            <div class=centercontainerofprice>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                
                
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
            </div>
        </div>
        <div class="haircut"id="haircut5">
            <label class="headforprice">Маникюр и педикюр</label>
            <div class=centercontainerofprice>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
                <div class="leftsideprice">
                    <label class="textinsideprice">Завивка мужская----350 р</label>
                </div>
                
                
                <div class="rightsideprice">
                    <label class="textinsideprice">Завивка женская----350 р</label>
                </div>
            </div>
            <button class="fullcontainer" id="closefullcontainer">Свернуть</button>
        </div> 
        
    </div>
</div>

<div class="maps" ><iframe class="mapsframe"src="https://yandex.ru/map-widget/v1/-/CCURBZWB0A"  frameborder="1" allowfullscreen="true" ></iframe></div>
<div class="zapisi">

    <div class="main-block">
        <div class="upstring">
            <div class="upstring1">
                <button class="back1" onclick="backforzapisi()"><img src="img/free-icon-font-angle-left-3916912.png" width="20" height="25"></button>
            </div>
            <div class="upstring2">
                <button class="closeblock" onclick="zapisiclose()"></button>
            </div>
        </div>

        <div class="firstcontainer">
            <button class="masters" onclick="mastersclick()">
                

            </button>
            <h2 class="masterstext">Специалисты</h2>
        </div>
        <div class="secondcontainer">
            <button class="services" onclick="servicesclick()">
                

            </button>
            <h2 class="servicestext">Услуги</h2>
        </div>
        <div class="allcontainerforchoise">
            <div class="conatinerforchoseheader">Услуги</div>
            <div class="containerforchoise" >
                <input type="checkbox" class="check1" id="checknumber1">
                <label class="textforcheck" for="checknumber1">Стрижка<span>600 рублей<span>1 час</span></span></label>
            </div>
            <div class="containerforchoise">
                <input type="checkbox" class="check1" id="checknumber2">
                <label class="textforcheck" for="checknumber2">Окрашивание в 1 тон<span>1000 рублей<span>2 часа</span></span></label>
            </div>
            <div class="containerforchoise">
                <input type="checkbox" class="check1" id="checknumber3">
                <label class="textforcheck" for="checknumber3">Биозавивка<span>1000 рублей<span>2 часа</span></span></label>
            </div>
            <div class="containerforchoise">
                <input type="checkbox" class="check1" id="checknumber4">
                <label class="textforcheck" for="checknumber4">Сложное окрашивание<span>2000 рублей<span>4 часа</span></span></label>
            </div>
            <div class="containerforchoise">
                <input type="checkbox" class="check1" id="checknumber5">
                <label class="textforcheck" for="checknumber5">Мелирование<span>1500 рублей <span>2 часа</span></span></label>
            </div>           
            <div class="downstring">
                <button class="next" disabled="disabled" onclick="nextclick()">Далее</button>
            </div>


        </div>
        <div class="masterscontainer">
            <div class="masterscontainerheader">Мастера</div>
            <button class="specialists" id="buttonforspec1">
                <img class="faces" src="img/sashaimg.jpg">
                <div class="textforspec">
                    Александра<p>Мастер стрижки</p>
                </div>
            </button>
            <button class="specialists" id="buttonforspec2">
                Рима
            </button>
            <button class="specialists" id="buttonforspec3">
                Александра
            </button>
            <button class="specialists" id="buttonforspec4">
                Александра
            </button>
        </div>
        
    </div>



</div>
<script>
    


function jsonforparticalviewforzapisi(json){
	
	$.ajax({
		type: "POST",
		url: "@Url.Action("ParticalViewForZapisi")",
		//dataType: "json",
		data: { id: json },
		success: function (result) {
            //var timeforgetting=JSON.parse(result);
            console.log();
            //jsonforfindtimeforzapisi();
			document.getElementsByClassName("main-block")[0].innerHTML = result;
			//location.reload();
            particalviewinit();
		},
		error: function (req, status, error) {

			//location.reload();
		}

	});

};
</script>
@* <a target="_blank" href="https://icons8.com/icon/121477/macos-закрыть">macOS Закрыть</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a href="https://www.flaticon.com/ru/free-icons/" title="красота иконки">Красота иконки от Vectors Tank - Flaticon</a>
    <a href="https://www.flaticon.com/ru/free-icons/" title="волосы иконки">Волосы иконки от dDara - Flaticon</a>
    <a href="https://www.flaticon.com/ru/free-icons/" title="парикмахер иконки">Парикмахер иконки от Futuer - Flaticon</a>
    <a href="https://www.flaticon.com/ru/free-icons/-" title="строительство и инструменты иконки">Строительство и инструменты иконки от Freepik - Flaticon</a> *@
