<div class="blockforfioanddate">
    <label class="firsttext">Фамилия Имя Отчество</label>
    <input class="FIO" id="FIOTEXT" />
    <label class="secondtext">Номер телефона</label>
    <input class="phonenumber" id="phonenumbertext"/>
    <button class="finishofzapis">Ввод</button>
</div>
